includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 3
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#on an unknown class Spatie\\RayBundle\\Ray#'
        - '#on an unknown class Spatie\\WordPressRay\\Ray#'
        - '#on an unknown class Spatie\\YiiRay\\Ray#'
