name: Unit Tests

on: push

env:
  # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
  COMPOSER_ROOT_VERSION: "dev-master"

jobs:
  unit_tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [ '8.2', '8.3', '8.4' ]

    name: PHP ${{ matrix.php }} tests

    steps:
      - uses: actions/checkout@v3
      # required for "git tag" presence for changelog-linker git tags resolver; default is 1
      # https://github.com/actions/checkout#fetch-all-tags
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      # see https://github.com/shivammathur/setup-php
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl
          ini-values: post_max_size=256M, max_execution_time=180
          coverage: xdebug
          tools: php-cs-fixer, phpunit, composer:v2

      - name: Install dependencies
        run: composer update --prefer-dist --no-interaction

      - run: vendor/bin/phpunit
